# Compiled circuit artifacts (r1cs, wasm, sym, zkey, ptau, witness, proof)
../artifacts/
artifacts/

# Node deps
node_modules/

# snarkjs intermediate outputs
*.zkey
*.ptau
*.wtns
*.r1cs
*.sym
proof.json
public.json
verification_key.json

# OS / editor cruft
.DS_Store
*.swp
